.numberContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn-group {
  grid-column: span 2;
}

.dispalyContainer {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: yellow;
  margin-bottom: 1px;
  display: inline-block;
  border-width: 2px;
  border: 2px solid;
  border-radius: 25px;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 40vw;
  border: 2px solid;
  border-radius: 25px;
  padding: 2rem;
}

button {
  margin: 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: rgb(99, 99, 99);
}

button:active {
  background-color: rgb(99, 99, 99);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.formulaContainer {
  display: inline-block;
  font-size: x-large;
}

.dispalyContainer {
  padding-top: 2rem;
}

.resultContainer {
  text-align: right;
  font-size: xx-large;
}
