.numberContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.resultContainer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: yellow;
  margin-bottom: 1px;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
}

.operatorContainer {
  display: grid;
  grid-template-columns: 1;
}

.calculatorContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60vh;
  width: 60vw;
}

body {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: rgb(99, 99, 99);
}

button:active {
  background-color: rgb(99, 99, 99);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  font-size: x-large;
}
